@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&family=JetBrains+Mono:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

:root {
  --bg: #f2f0eb;
  --fg: #f2f0eb;
  --accent: #3b82f6;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  overflow-x: hidden;
}

.letter-spacing-widest {
  letter-spacing: 0.5em;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
    color: transparent;
  }
}

